

/*global styles*/
body{
	background-color: #Fcfcfc;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	margin: 0 !important;}

a {color: #5E5C58;}
a:hover {color: #0F1A1E;}

/*header*/
.nav
{
	width: 100%;
	height: 40px;
	padding: 5px 0;
	background-color: #Fcfcfc;
	text-align: center;
	opacity: 0.85;
	float: right;
	z-index: 1000;
	border-bottom: 1px solid #B3A6B2;}

.sticky
	{width: 100%;
	position: fixed;
	top:0;
	left:0;
	z-index:100;}

.nav ol, ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-size: 18px;
	height: 50px;
	/*line-height: 200%;*/
	/*text-transform: uppercase;*/
	display: inline-block;}

.nav .TopMenuDesktop ul {float:left; font-size: 30px;}
.nav .MenuTopNav ol {float: right; font-size: 25px;}

.nav ol a, ul a {
	color:  #5E5C58;
	text-decoration: none;
	display: block;
	/*zachowuj się jak element blokowy*/}

.nav li {
	height: 40px;
	line-height: 40px;
	margin-left: 15px;
	margin-right: 10px;	
	padding: 0px;
    -webkit-transition: 0.3s ease-in-out, 
    -webkit-transform 0.3s ease-in-out;
	-moz-transition:  0.3s ease-in-out, 
    -moz-transform 0.3s ease-in-out;
    transition: all 0.3s ease-in-out, 
    transform 0.3s ease-in-out, ;}

.nav .TopMenuDesktop ul li {
	float:left;
	font-size: 15px;
	text-transform: uppercase;
	transition: all .2s ease-in-out;}


.nav .MenuTopNav ol li {
	float: right;
	text-decoration: none;
	display: block;
	transition: all .2s ease-in-out;
	width: 40px;}

li:hover {
	color: #0F1A1E;}

button[id="basket"], button[id="search"]{
	border: none;
	background-color: none;
	cursor: pointer;
	outline: none;
	background-color: #Fcfcfc;
	color: #5E5C58;
}

button[id="basket"]:hover, button[id="search"]:hover {
	color: #0F1A1E;
}

 #searchFormWrapper {
    position: absolute;
   /* display: none;*/
    z-index: 14;
    width: 269px;
    height: 47px;
    right: 0;
    top: 50px;
    background-color: #5E5C58;
    opacity: 0.75;
}
#searchFormWrapper button {
    transition: all .3s;
    cursor: pointer;
    display: block;
    padding: 0;
    text-align: center;
    background-color: #B3A6B2;
    float: left;
    height: 30px;
    margin-top: 7px;
    position: relative;
    width: 30px;
	color: #Fcfcfc;
	border: 0px none;}

#searchFormWrapper button:focus {
	outline-style: none;}

input[name="q"]{
	width: 215px;
	height: 25px;
	margin:7px;
	float: left;}

input[name="q"]:focus {
	outline: none;
	color: #5E5C58;}

/*basket*/
#basketContentWrapper {
	position: absolute;
    display: none;
    z-index: 1000;
    width: 500px;
    right: 0;
    top: 50px;
  	overflow: hidden;
    background-color: #5E5C58 ;
    opacity: 0.95;
    color: #Fcfcfc;
    border-radius: 4px;
    letter-spacing: 2px;
	font-weight: 100;
	text-transform: lowercase;
	padding: 7px;
	line-height: 25px;
	height: auto;
	max-height: 800px;

}

#basketContentWrapper ul {
	float: left;
	/*display: block;*/
	list-style-type: none;
	color: #Fcfcfc;


}

#basketContentWrapper ul li {
	
	float: left;
	width: 100%;
	color: #Fcfcfc;
	/*display: block;*/
	line-height: 50px;
	text-align: left;

}

#display-cart{
	display: inline-block;
	padding:5px;

}

#info-cart {
	display: inline-block;
	padding:5px;

}

#basketContentWrapper ul li .item-count{
	width:60px;
	color: black;
}
/*main pic section*/
header {
background: linear-gradient( rgba(244, 243, 248, 0.5), 
 rgba(244, 243, 248, 0.2)), url('../images/main.jpg');
background-size: cover;
background-position: center top ;
width: 100%;
height: 400px;
border-bottom: 1px solid #B3A6B2;}

/*bestsellers section*/
.bestsel {
	
	width: 100%;
	height: 400px;
	border-bottom: 1px solid #B3A6B2;

}

.bestsel h3{
	color: #5E5C58;
	font-size: 30px;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 100;
	letter-spacing: 10px;
	margin-left: 30px;
}

.bestsellers {
	position: center;
	margin-left: 70px;
	margin-right:  70px;
}

.bestsel .bestsellers ul {
	padding: 0;
	margin: 0 auto;
	list-style-type: none;
	display: inline-block;

}

.bestsel .bestsellers ul li{
	float:left;
	height: 330px;
	width: 250px;
	margin-left: 20px;
}

.bestsel .bestsellers ul li .img{
	 -webkit-transition: 0.3s ease-in-out, 
    -webkit-transform 0.3s ease-in-out;
	-moz-transition:  0.3s ease-in-out, 
    -moz-transform 0.3s ease-in-out;
    transition: all 0.3s ease-in-out, 
    transform 0.3s ease-in-out, ;
    width: 250px;
    height: 250px;
	position: relative;}

/*.bestsel .bestsellers ul li img:hover {transform: scale(1.05);}*/

#info {
	margin: auto;
	position: absolute;
	text-align:center;
	width: 100%;

}

#info1 {
	 width:60%;
	 margin: 0 auto;
}
.opis{
	/*margin-left: 0 auto;
	margin-right: 0 auto;*/
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
	color: #5E5C58;
	text-transform: uppercase;
	letter-spacing: 3px;
}

.price{
	text-align: center;
	color: #B3A6B2;
	text-transform: uppercase;
	float: left;
	font-size: 15px;
	margin:auto;
	margin-top: 3px;
	letter-spacing: 1.5px;
}

/*.addto {
	margin: auto;
	/*width: 100%;*/
/*	font-size: 15px;*/
/*	letter-spacing: 2.5px;*/
	/*margin-bottom: 5px
}*/

/*newsteller section */

.newsletter {
	height: 20px;
	background: linear-gradient( rgba(244, 243, 248, 0.7), 
 	rgba(244, 243, 248, 0.5)), url('../images/dress.jpg');
	background-size: cover;
	background-position: center left;
	padding: 20px;
	padding-top: 10px;
	color: #4A4842;
	text-transform:  uppercase;
	letter-spacing: 2px;
	border-bottom:  1px solid #B3A6B2;
}



#newsletter span {
	margin: 0 auto;
	float: left;

}

#newsletterin {
	margin-left: 10px;
	width:500px;
	color: #5E5C58;
	border-radius: 4px;
	outline: none;
	letter-spacing: 3px;
	font-size: 20px;
	border: 1px solid #B3A6B2;
	height: 30px;

}

#newsletterin:onfocus {
	margin-left: 15px;
	width:500px;
	outline: none;
	color:  #0F1A1E;
}

input::-webkit-input-placeholder
{
    color: #B3A6B2;
}

/*checkbox for newsteller*/
input[type="checkbox"]{

	width: 14px;
	height: 14px;
	background: #Fcfcfc;
	margin-right: 9px;
	/*display:none;*/
	bottom: 0;
	left: 0;
	cursor:pointer;
}
	

.newsletter label {
	font-size:14px;
	margin-left: 3px;
	float: right;
	margin-right:20px;
	margin-top: 0;
	height: 14;
	margin-top: 8px;
}


/*random content*/
.RandomContent {
	height: 360px;
	margin-left: 30px;
	margin-right: 30px;
	margin:0 auto;
	width: 90%;

}

.RandomContent .img1, .img2 {
	height:300px;
	width:215px;
	display: inline-block;
	float: left;
	
	
} 

.img1{
	padding: 7px;
	margin-top:25px;
	margin-bottom: 25px;
}

.img2{
	background-color: #C9CCD1;
	margin-top: 32px;
	margin-bottom: 32px;
	margin-left: 7px;
	margin-right: 7px;
}



/*footer*/

.footer{
	height: 100px;
	/*border: 1px solid #B3A6B2;*/
	background-color: #Fcfcfc;
	/*background: linear-gradient(left, rgba(244, 243, 248, 0.7), 
 		rgba(94, 92, 88, 0.5)), url('../images/footer.jpg');*/
 	background: linear-gradient(to right, rgba(244, 243, 248, 0.6), rgba(130, 126, 118, 0.3)), url('../images/footer.jpg');;	
 	background-position: bottom;
 	background-size: cover;
	color: #5E5C58;
	opacity: 0.8;
	padding-bottom: 20px;
	border-top: 1px solid #B3A6B2;
}



.footer h1{
	font-weight: 100;
	font-size: 15px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #0F1A1E;
}

.footer ol{
	list-style: none;
	font-size: 11px;
	letter-spacing: 2px;
	text-transform: capitalize;
	cursor: pointer;
	padding: 0;
	margin: 0;
	display: inline-block;
	line-height: 1.5;
}

#help, #shoppingonline, #terms, #contactform , #social {
	float: left;
	margin-left: 30px;
	margin-right: 20px;

}

button[class="openform"]{
	font-weight: 100;
	font-size: 15px;
	letter-spacing: 5px;
	text-transform: uppercase;
	color: #0F1A1E;
	background-color: #F4F3F8;
	cursor:pointer;
	border: 1px solid #5E5C58;
	margin-top:10px;
	border-radius: 3px;
	height: 30px;
	width: 280px;
	word-spacing: 4px;
}

button[class="openform"]:focus {
	outline: none;

}

#contactform {
	margin-left: 80px;
	margin-right: 80px;
}
#contactform h2{
	color: #4A4842;
	text-transform:  uppercase;
	letter-spacing: 3px;
	font-weight: 100;
margin-bottom: 10px;
font-size: 20px;
}

#contactform p{
	text-align: center;
	text-transform: uppercase;
	margin: 0;
	padding: 0; 
	letter-spacing: 3px;
	font-size: 14px;
	color: #0F1A1E;
}

#contactform #nr {
	color: #0F1A1E;
}


/*social media*/
/*#social {
	margin-left: 70px;
}*/
#social ol {
clear: both;
}

#social ol li {
	font-size: 15px;
	font-weight: 100;
	line-height: 1.2;
	text-align: center;
	margin-left: 12px;
	color: black;
}
/*contact form */

.openContactForm {
	position: absolute;
	top: 860px;
	width: 480px;
	border: 1px solid #B3A6B2;
	background-color: #Fcfcfc; 
	padding: 20px;
	padding-left: 0px;
	left:200px;
	/*display: none;*/
}

.openContactForm h1{
	color: #4A4842;
	text-transform:  uppercase;
	letter-spacing: 5px;
	font-weight: 100;
	font-size: 20px;
	text-align: center;
}

.openContactForm label{
	color: #4A4842;
	text-transform:  uppercase;
	letter-spacing: 2px;
	font-weight: 100;
	font-size: 12px;
	float: left;
	display: block;
	text-align: right;
	width:200px;
	height: 21px;
	padding: 6px;
	margin-top:  7px;
	vertical-align: middle;
	
}
.closeform{
	width: 25px;
    height: 25px;
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
    float: right;
    background-color: #Fcfcfc; 
    border: none;
    cursor: pointer;
}

.closeform:focus{
	outline: none;
}

.openContactForm input::-webkit-input-placeholder
{
    font-size: 15px;
}

.openContactForm input, select {
	margin: 7px;
	border-radius: 5px;
	outline: none;
	border: 1px solid #B3A6B2;
	float: right;
	display:block;
	
}

.openContactForm select {
	cursor: pointer;
	font-size: 15px;
	color: #B3A6B2;
	width: 245px;
}

.openContactForm  option:hover {
	background-color: #5E5C58 ;
	color: #F4F3F8;
	cursor: pointer;
}

.openContactForm input:focus, {
	color: #5E5C58;
	letter-spacing: 1px;
	font-weight: 100;
}

.openContactForm #message{
	height: 120px;
	float: right;
	padding: 5px;
	width: 235px;
	margin-right: 5px;
	font-size: 15px;
	border-radius: 5px;
	color: #5E5C58;
}

.openContactForm #message:focus{
	outline: none;
}
.openContactForm textarea::-webkit-input-placeholder
{
    color: #B3A6B2;
}

.openContactForm .send{
	width: 245px;
	margin-top: 10px;
	border-radius: none;
	color: #F4F3F8;
	background: linear-gradient(to right, rgba(244, 243, 248, 0.6), rgba(130, 126, 118, 0.3)), url('../images/footer.jpg');;	
 	background-position: bottom;
 	background-size: cover;
	text-transform: uppercase;
	letter-spacing: 10px;
	font-weight: 100;
	cursor: pointer;
}
/*colors
light1- nav #Fcfcfc
light2  #F4F3F8
medium light #B3A6B2
darker  #5E5C58
darkest  #0F1A1E
*/